<div class="d-flex">
  <input
    type="text"
    class="form-control w-25"
    placeholder="Ara..."
    [(ngModel)]="username"
  />

  <button class="btn btn-primary" (click)="listVideosByChannelUsername()">
    Ara
  </button>

  <button
    class="btn btn-secondary"
    [disabled]="!videos"
    (click)="refreshVideos()"
  >
    Yenile
  </button>
</div>
<div>
  <h2>Videos</h2>
  <div *ngIf="!videos" class="mt-5">
    <p>Videos not found</p>
  </div>
  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    *ngIf="videos"
    class="m-4"
  >
    <div
      *ngFor="let video of videos; let i = index"
      class="d-flex justify-content-start align-items-start m-3 p-3 rounded"
      cdkDrag
      [cdkDragData]="i"
    >
      <img
        [src]="video.snippet.thumbnails.default.url"
        class="me-4 youtube-logo"
      />
      <div>
        <h3>{{ video.snippet.title }}</h3>
        <p>{{ video.snippet.description }}</p>
      </div>
    </div>
  </div>
</div>
